{% load static %}
{% include 'header.html' %}

<!--=================================
Page title -->
<section class="page-title bg-holder bg-overlay-black-50" data-jarallax='{"speed": 0.6}' style="background-image: url(static/images/bg/08.jpg);">
  <div class="container">
    <div class="row position-relative">
      <div class="col-12 text-center">
          <h1 class="text-stroke-primary display-2 fw-bold text-uppercase">Contact Us</h1>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
            </ol>
          </nav>
      </div>
    </div>
  </div>
</section>
<!--=================================
Page title -->

<!--=================================
contact -->
<section class="space-ptb">
  <div class="container">
    <div class="row g-0 align-items-center">
      <div class="col-lg-4 col-md-5 mb-4 mb-md-0">
        <div class="bg-primary p-4 p-sm-5 me-lg-n5 position-relative z-index-1">
          <h4>Need assistance? please complete the contact form</h4>
             <form class="mt-4">
              <div class="row">
                <div class="mb-3 col-12">
                  <input type="text" class="form-control" placeholder="Name">
                </div>
                <div class="mb-3 col-12">
                  <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="mb-3 col-12">
                  <input type="text" class="form-control" placeholder="Phone Number">
                </div>
                <div class="mb-3 col-12 mb-0">
                  <textarea rows="4" class="form-control" placeholder="Message"></textarea>
                </div>
                <div class="col-12 mt-4">
                  <div class="d-grid">
                    <a class="btn btn-secondary" href="#"> <span> Submit </span> </a>
                  </div>
                </div>
              </div>
            </form>
        </div>
      </div>
      <div class="col-lg-8 col-md-7">
        <div class="map">
          <iframe class="contact-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d651276.8223302028!2d-112.26948898677708!3d40.713748022764676!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8752f530948459a5%3A0x5ea5d81be1facaf0!2sEnvato%20Usa%2C%20Inc!5e0!3m2!1sen!2sin!4v1573620281166!5m2!1sen!2sin" allowfullscreen=""></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=================================
 contact -->

 <!--=================================
Office -->
<section class="space-pb">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4 class="mb-4">USA Office</h4>
        <div class="d-flex mb-3">
          <i class="fas fa-map-marker-alt text-secondary fa-fw font-xxl"></i>
          <div class="ms-3">
            <h6>Address</h6>
            <p>214 West Arnold St. New York, NY 10002</p>
          </div>
        </div>
        <div class="d-flex mb-3">
          <i class="far fa-envelope-open text-secondary fa-fw font-xxl"></i>
          <div class="ms-3">
            <h6>Email</h6>
            <p>support@luvfit.demo</p>
          </div>
        </div>
        <div class="d-flex mb-3">
          <i class="fas fa-mobile-alt text-secondary fa-fw font-xxl"></i>
          <div class="ms-3">
            <h6>Phone Number</h6>
            <p>(123) 345-6789</p>
          </div>
        </div>
        <div class="d-flex mb-4 mb-md-0">
          <i class="fas fa-fax text-secondary fa-fw font-xxl"></i>
          <div class="ms-3">
            <h6>Fax</h6>
            <p class="mb-0">(456) 478-2589</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h4 class="mb-4">Training Details</h4>
        <div class="d-flex mb-3">
          <i class="fas fa-map-marker-alt text-secondary fa-fw font-xxl"></i>
          <div class="ms-3">
            <h6>Address</h6>
            <p>Fairground St. North Bergen, NJ</p>
          </div>
        </div>
        <div class="d-flex mb-3">
          <i class="far fa-envelope-open text-secondary fa-fw font-xxl"></i>
          <div class="ms-3">
            <h6>Email</h6>
            <p>support@luvfit.demo</p>
          </div>
        </div>
        <div class="d-flex mb-3">
          <i class="fas fa-mobile-alt text-secondary fa-fw font-xxl"></i>
          <div class="ms-3">
            <h6>Phone Number</h6>
            <p>(0245) 245-7895</p>
          </div>
        </div>
        <div class="d-flex mb-4 mb-md-0">
          <i class="fas fa-fax text-secondary fa-fw font-xxl"></i>
          <div class="ms-3">
            <h6>Fax</h6>
            <p class="mb-0">(789) 001-3216</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h4 class="mb-4">Working Hours</h4>
        <ul class="list-unstyled mb-0">
          <li class="p-3 bg-light d-flex">Monday <span class="ms-auto">07:00-17:00</span></li>
          <li class="p-3 d-flex">Tuesday <span class="ms-auto">07:00-17:00</span></li>
          <li class="p-3 bg-light d-flex">Wednesday <span class="ms-auto">07:00-17:00</span></li>
          <li class="p-3 d-flex">Thursday <span class="ms-auto">07:00-17:00</span></li>
          <li class="p-3 bg-light d-flex">Friday <span class="ms-auto">07:00-17:00</span></li>
          <li class="p-3 d-flex">Saturday <span class="ms-auto">07:00-17:00</span></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!--=================================
 Office -->

{% include 'footer.html' %}