{% load static %}
    <!--=================================
    footer-->
    <footer class="footer bg-dark space-pt">
      <div class="container">
        <div class="row pb-5">
          <div class="col-lg-3 col-md-6">
            <div class="footer-contact-info">
              <h5 class="text-primary mb-4">Follow Us</h5>
              <div class="d-flex text-center">
                <a class="bg-facebook p-2 me-1 text-white" href="#">
                  <i class="avatar avatar-md mx-auto bg-dark-soft text-center rounded-circle line-h-xxxl fab fa-facebook-f"></i>
                  <span class="d-block text-white mt-2">Facebook</span>
                </a>
                <a class="bg-pinterest p-2 me-1" href="#">
                  <i class="avatar avatar-md mx-auto bg-dark-soft text-center rounded-circle line-h-xxxl text-white fab fa-pinterest-p"></i>
                  <span class="d-block text-white mt-2">Pinterest</span>
                </a>
                <a class="bg-linkedin p-2" href="#">
                  <i class="avatar avatar-md mx-auto bg-dark-soft text-center rounded-circle line-h-xxxl text-white fab fa-linkedin-in"></i>
                  <span class="d-block text-white mt-2">Linkedin</span>
                </a>
              </div>
              <p class="text-white mb-4 mt-3">For those of you who are serious about having more, doing more, giving more and being more, success is achievable with some understanding.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
            <div class="footer-link">
              <h5 class="text-primary mb-4">Subscribe us</h5>
              <div class="footer-subscribe">
                <p class="text-white">Sign up to our newsletter to get the latest news and offers.</p>
                <form>
                  <div class="mb-3">
                    <input type="email" class="form-control" placeholder="Enter email">
                  </div>
                  <button type="submit" class="btn btn-secondary"> <span> Get notified </span> </button>
                </form>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
            <div class="footer-recent-List">
              <h5 class="text-primary mb-4">Recent Work</h5>
              <ul class="list-unstyled d-flex flex-wrap ">
                <li class="mb-0"><a href="#"> <img class="avatar avatar-lg" src="{% static 'images/avatar/01.jpg' %}" alt=""> </a></li>
                <li class="mb-0"><a href="#"> <img class="avatar avatar-lg" src="{% static 'images/avatar/02.jpg' %}" alt=""> </a></li>
                <li class="mb-0"><a href="#"> <img class="avatar avatar-lg" src="{% static 'images/avatar/03.jpg' %}" alt=""> </a></li>
                <li class="mb-0"><a href="#"> <img class="avatar avatar-lg" src="{% static 'images/avatar/04.jpg' %}" alt=""> </a></li>
                <li class="mb-0"><a href="#"> <img class="avatar avatar-lg" src="{% static 'images/avatar/05.jpg' %}" alt=""> </a></li>
                <li class="mb-0"><a href="#"> <img class="avatar avatar-lg" src="{% static 'images/avatar/06.jpg' %}" alt=""> </a></li>
                <li class="mb-0"><a href="#"> <img class="avatar avatar-lg" src="{% static 'images/avatar/07.jpg' %}" alt=""> </a></li>
                <li class="mb-0"><a href="#"> <img class="avatar avatar-lg" src="{% static 'images/avatar/08.jpg' %}" alt=""> </a></li>
                <li class="mb-0"><a href="#"> <img class="avatar avatar-lg" src="{% static 'images/avatar/09.jpg' %}" alt=""> </a></li>
                <li class="mb-0"><a href="#"> <img class="avatar avatar-lg" src="{% static 'images/avatar/10.jpg' %}" alt=""> </a></li>
                <li class="mb-0"><a href="#"> <img class="avatar avatar-lg" src="{% static 'images/avatar/11.jpg' %}" alt=""> </a></li>
                <li class="mb-0"><a href="#"> <img class="avatar avatar-lg" src="{% static 'images/avatar/12.jpg' %}" alt=""> </a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
            <h5 class="text-primary mb-4">Popular Tags</h5>
            <ul class="footer-tag list-unstyled mb-0">
              <li><a href="#"><span>Bodybuilding</span></a></li>
              <li><a href="#"><span>Class</span></a></li>
              <li><a href="#"><span>Fitness</span></a></li>
              <li><a href="#"><span>Coach</span></a></li>
              <li><a href="#"><span>Fitness</span></a></li>
              <li><a href="#"><span>Health</span></a></li>
              <li><a href="#"><span>Workout</span></a></li>
              <li><a href="#"><span>Training</span></a></li>
              <li><a href="#"><span>Bootstrap</span></a></li>
              <li><a href="#"><span>HTML5</span></a></li>
              <li><a href="#"><span>CSS3</span></a></li>
            </ul>
          </div>
        </div>
        <hr class="m-0" />
        <div class="footer-bottom mt-0">
          <div class="row align-items-center">
            <div class="col-md-6 text-center text-md-start">
              <p class="mb-0 text-white"> &copy;Copyright <span id="copyright"> <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script></span> <a href="#"> Luvfit </a> All Rights Reserved </p>
            </div>
            <div class="col-md-6 text-center text-md-end">
              <ul class="list-unstyled list-inline mb-0">
                <li class="list-inline-item"><a class="text-white" href="#">Terms & Conditions</a></li>
                <li class="list-inline-item"><a class="text-white" href="#">API Use Policy</a></li>
                <li class="list-inline-item"><a class="text-white" href="#">Privacy Policy</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!--=================================
    footer-->

    <!--=================================
    Back To Top-->

    <div id="back-to-top" class="back-to-top">
      <a href="#"> <i class="fas fa-angle-up"></i></a>
    </div>

    <!--=================================
    Back To Top-->

    <!--=================================
    Javascript -->

    <!-- JS Global Compulsory (Do not remove)-->
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/popper/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>

    <!-- Page JS Implementing Plugins (Remove the plugin script here if site does not use that feature)-->
    <script src="{% static 'js/jquery.appear.js' %}"></script>
    <script src="{% static 'js/counter/jquery.countTo.js' %}"></script>
    <script src="{% static 'js/select2/select2.full.js' %}"></script>
    <script src="{% static 'js/owl-carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jarallax/jarallax.min.js' %}"></script>
    <script src="{% static 'js/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/swiper/swiper.min.js' %}"></script>
    <script src="{% static 'js/swiperanimation/SwiperAnimation.min.js' %}"></script>

    <!-- Template Scripts (Do not remove)-->
    <script src="{% static 'js/custom.js' %}"></script>

  </body>

<!-- Mirrored from themes.potenzaglobalsolutions.com/html/luvfit/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 17 Jul 2023 10:41:36 GMT -->
</html>
